.content {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 20px 10px 10px;
  position: fixed;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: var(--sidebar-width);
}

.sidebar {
  background-color: white;
  box-shadow: 4px 0px 34px rgb(166, 166, 166);
  display: inline-block;
  height: 100vh;
  margin-left: calc(0% - var(--sidebar-width));
  position: fixed;
  transition: 300ms margin;
  width: var(--sidebar-width);
  z-index: 2;
}

.hiddenLayer {
  display: block;
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

.active {
  margin-left: 0;
}

.sidebar .title {
  text-align: center;
  margin-bottom: 15px;
}
.sidebar .title a {
  /* TODO: make colors more dynamic */
  background-color: rgb(221, 241, 223);
  color: rgb(40, 104, 122);
  display: inline-block;
  margin-bottom: 35px;
  padding: 5px;
  text-decoration: none;
  transition: 250ms opacity;
}

.sidebar .title a:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .sidebar {
    box-shadow: none;
    margin-left: 0;
    position: relative;
  }
  .hiddenLayer {
    display: none;
  }

  .content {
    border-right: 1px solid rgba(128, 128, 128, 0.59);
  }
}
