.container {
  display: flex;
}

.mdContent {
  display: inline-block;
  padding: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .mdContent {
    width: calc(100% - var(--sidebar-width));
  }
}
